<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475286241441-9m7iah8n8om3o3rcmppddq8sb8oj77bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475286241441-9m7iah8n8om3o3rcmppddq8sb8oj77bi</string>
	<key>API_KEY</key>
	<string>AIzaSyDqMyOVjd9rjdKJRDqbsN8a-YGjXrzkKKU</string>
	<key>GCM_SENDER_ID</key>
	<string>475286241441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CaritasApp</string>
	<key>PROJECT_ID</key>
	<string>caritasapp-eaa7d</string>
	<key>STORAGE_BUCKET</key>
	<string>caritasapp-eaa7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475286241441:ios:22a6449f4395f740a1f0e0</string>
</dict>
</plist>